*{
    margin: 0;
    padding: 0;
}

.line1{
    width: 175px;
    height: 3px;
    background: rgb(243, 6, 53);
    border-radius: 60% ;
}
.verticalline1{
    border-right: solid black;
    height: 12px;
    color: black;
}

.navbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #aaa6a6;
    height: 70px;
    justify-content: justify;
    color: black;
    display: flex;
}
ul{
    list-style: none;
    margin-right: 800px;
}
ul li{
    float: right;
    text-align: right;
    
}
.navlinks{
    font-size: larger;
    display: flex;
    text-align: right;
    flex: 1;
    padding: 20px;
    margin-left: 525px;
}
.navhead{
    padding: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main_moto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    color: rgb(248, 246, 246);
    font-style: oblique;
}
.home_page{
    text-align: center;
}
/*tabs section styling*/
/*.tabs{
    text-align: center;
}*/
.toptreks_section{
    margin: auto;
    text-align: center;
    max-width: auto;
    height: 13px;
   
}
/*.toptreks_tabs{
    overflow: hidden;
    border: 2px solid #cccccc;
    background-color: rgb(179, 175, 171);
}*/
.toptreks_buttontab{
    margin: auto;
    background-color:grey;
    padding: 20px;
    cursor: pointer;
    width: 800px;
    transition: 0.3s;
}
.tab_link{
    
border: none;
padding: 10px;
color: white;
background-color:grey;

}
.tab_link:hover{
    background-color:white;
    color: black;
    text-decoration: none;
}

/*upcoming treks section*/
.upcoming_treks{
    text-align: center;
}
.upcomingtreks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    row-gap: 20px;
}
 a{
    text-decoration: none;
    color: black;
}
.trek:hover{
    transform: translateY(10px);
    transition-duration: 0.5s;
}
.tabcontent{
    padding: 20px 20px 20px 2px;
    width: 818px;
    background-color: black;
    color: white;
    margin: auto;
    
}
/*reviews section styling*/
.reviews{
    text-align: center;
}
.reviews_section{
    margin: auto;
    position: relative;
    max-width: 1000px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.fade{
    text-align: center;
}

















/*contact us styling*/
.contactus_header{
    text-align: center;
}






/*footer styling*/
.fa {
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
    background: #cb2027;
    color: white;
  }
footer{
    background-color: rgb(211, 209, 209);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 98.5%;
    padding: 10px;
}
.footer_container1{
    text-align: left;
}
.footer_container2{
    text-align: center;
}
.footer_container3{
    margin-left: 225px;
}
/**/
 